@media only screen and (max-width: 470px) {
	header {
    	padding: 69px 0 68px;
	}
	
	nav {
		margin-top: 24px;
	}

	.slider{
		margin-bottom: 34px;
		background: rgba(0,0,0,0);
	}

	.slider__item {
	    padding: 93px 0 35px 12px;
	    height: auto;
	    width: 202px;
		margin: 0 auto;
	}

	.slider__title{
		letter-spacing: -0.45px;
	}

	.slider__subtitle{
		letter-spacing: -0.2px;
		margin-top: -7px;
	}

	.slider__img{
		display: none;
	}

	.navigation{
		margin-left: 35%;
	}

	aside {
	    padding-top: 70px;
	}

	.about{
		margin-bottom: 58px;
	}

	.about__info {
	    margin-left: 22%;
	    width: 75%;
	}

	.about__text {
	    margin-left: 1px;
	    margin-bottom: 13px;
	    max-height: 71px;
	}

	.about__link {
	    margin-right: -3px;
	}
	
	.about--last {
    	margin-top: 74px;
    	padding-bottom: 84px;
    	margin-bottom: 0;
	}

	.article {
	    margin: 71px 7% 49px 0;
	}

	.article__block {
	    margin-bottom: 23px;
	    padding-top: 24px;
	    padding-right: 23px;
	}
	
	.article__title {
	    font-size: 24px;
	    display: block;
	    margin: 0 0 0 34px;
	}

	.article__subtitle {
	    font-size: 24px;
	    margin-left: 35px;
	}

	.article__text {
	    margin: -4px 18px 25px 38px;
	    max-height: 170px;
	    letter-spacing: -0.1px;
	}

	.article__text span{
	    letter-spacing: -0.22px;
	}

	.navigation--white {
	    margin-left: 36%;
	}

	.updates {
	    margin-left: -23px;
	    width: 109%;	}

	.updates__head {
	    margin-left: -1px;
	}

	.updates__ul {
	    margin-left: 0px;
	    margin-bottom: 20px;
	}
	
	.updates__title {
	    max-height: 17px;
	    overflow: hidden;
	}

	.updates__item {
	    margin-bottom: 20px;
	}

	.updates__item:nth-child(2) {
	    margin-bottom: 26px;
	}

	.updates__more--less {
		margin-right: 5px;
	}

	.brandlogo {
	    margin: 23px auto 71px;
	}

	.brandlogo__item{
	    width: 50%;
	    margin-top: 28px
	}

	.brandlogo__item:first-child a {
		    margin-left: 30%;
	}

	.brandlogo__item:nth-child(2) a {
	    margin-right: 11%;
	}

	.brandlogo__item:nth-child(3) a {
	    margin-right: -20%;
	    margin-top: 32px;
	}

	.brandlogo__item:nth-child(4) a {
	    margin-right: 8%;
	    margin-top: 30px;
	}

	.brandlogo__item:nth-child(5) a {
	    margin-right: -4%;
	    margin-top: 13px;
	}

	.brandlogo__item:last-child a {
	    margin-right: 15%;
	    margin-top: 14px;
	}

	.description{
		display: none;
	}

	.menu--footer{
		display: none;
	}

	.bottom {
	    padding: 42px 0 87px;
	}

	.designed_by {
	    margin-bottom: 60px;
	    margin-top: 0;
	}


}